body{
	margin: 0;

}
/*Topo1*/
	.topo1{
		height: 30px;
		background-color: black;
	}
		.topo1Int{
			width: 100%;
			max-width: 1280px;
			margin: auto;
			height: 30px;
			line-height: 30px;
		}
			.topo1IntEsquerdo{
				width: 50%;
				height: 30px;
				line-height: 30px;
				float: left;
			}
				.topo1IntEsquerdo ul{
					height: 30px;
					line-height: 30px;
					margin: 0;
					list-style: none;
				}
				.topo1IntEsquerdo li{
					color: #fff;
					float: left;
					font-size: 12px;
					margin-left: 10px;	
				}
			.topo1IntDireito{
				width: 50%;
				height: 30px;
				line-height: 30px;
				float: right;
			}	
				.topo1IntDireito img{
					width: 25px;
					height: 25px;
					float: right;
					margin-top: 2.5px;
					margin-bottom: 2.5px;
					margin-right: 5px;
				}
/*Topo 2*/
	.topo2{
		height: 100px;
	}
		.topo2Int{
			width: 100%;
			max-width:1280px;
			height: 100px;
			margin: auto;
		}
			.topo2Logo{
				width: 15%;
				max-width: 130px;
				height: 100px;
				float: left;
			}
				.topo2Logo img{
					height: 100px;
				}
			.pesquisaEmenu{
				max-width: 1150px;
				width: 85%;
				height: 100px;
				float: left;
			}
			.pesquisa{
				height: 50px;
				width: 100%;
				height: 50px;
				max-width: 500px;
				margin: auto;
			}
				.pesquisaInt{
					width: 100%;
					max-width: 1150px;
					margin: auto;
					height: 50px;
					line-height: 50px;
					overflow: hidden;
					background-color: white;
				}
				.menu{
					width: 100%;
					max-width: 1150px;
					margin: auto;
					height: 30px;
					background: linear-gradient( 90deg, blue, black	);
					border: 2px solid #fff;
					border-radius: 15px;
				}
					.menu ul{
						height: 30px;
						line-height: 30px;
						margin: 0;
						padding: 0;
						list-style: none;
					}
					.menu li{
						color: #fff;
						float: left;
						font-size: 12px;
						padding-left: 8px;
						padding-right: 8px;
						font-weight: bold;	
					}
						.menu li:hover .submenu{
							display: block;
						}
					.menu a{
						color: #fff;
						text-decoration: none;
					}
						.submenu{
							width: 150px;
							background-color: #000;
							position: absolute;
							display: none;
						}
							.submenuItem{
								height: 30px;
								width: 140px;
								line-height: 30px;
								padding-left: 10px;
							}
								.submenuItem:hover {
									background-color: blue;
								}
								.menumobile{
									display: none;
								}
/*Corpo*/
	.corpo{
		height: 470px;

	}
		.corpoInt{
			width: 100%;
			max-width: 1280px;
			margin: auto;
		}
			.corpoInt1{
				width: 315px;
				margin-left: 2.5px;
				margin-right: 2.5px;
				float: left;
			}
			.corpoInt2{
				width: 315px;
				margin-left: 2.5px;
				margin-right: 2.5px;
				float: left;
			}
			.corpoInt3{
				width: 315px;
				margin-left: 2.5px;
				margin-right: 2.5px;
				float: left;
			}.corpoInt4{
				width: 315px;
				margin-left: 2.5px;
				margin-right: 2.5px;
				float: left;
			}

/*Resposividade*/
@media only screen and (min-width: 960px) and (max-width: 1280px){
	.corpoInt4{
		display: none;

	}
		.corpoInt{
			width: 100%;
			max-width: 980px;
	}
		.topo2Int{
		width: 100%;
		max-width:980px;
	}

}
@media only screen and (min-width: 750px) and (max-width: 960px){
	.corpoInt4{
		display: block;
		margin-top: 10px;

	}
	.corpoInt3{
		margin-top: 10px;

	}
		.corpoInt{
			width: 100%;
			max-width: 660px;
	}
		.topo2Int{
			width: 100%;
			max-width:750px;
	}
		.menu{
		
		max-width: 660px;
	}
	#.menu{
		display: block !important
	}
}
@media only screen and (min-width: 540px) and  (max-width: 750px){
		.topo2{
			height: 80px;
		}
			.topo2Int{
				max-width: 320px;
			}
				.topo2Logo{
					width: 100%;
					margin: auto;
					float: none;
					height: 80px;
					overflow: hidden;
					margin-bottom: 2px;
				}
					.topo2Logo img{
						margin: auto;
						height: 100px;
					}
			.pesquisaEmenu{
				height: 30px;
				width: 320px;
			}
				.pesquisaInt, .pesquisa{
					display: none;
				}
				.menu{

				}
				.menu ul{
					position: absolute;
					background-color: red;
					z-index:10;
					display: none;


				}
				.menu li{
					float: none;
					background-color: blue;
					height: auto;

				}
				.menu li img{
					display: none;

				}

				.submenu{
					position: static;
					display: block;
				}
				.menumobile{
					display: block;
					margin-left: 10px;
				}

		.corpoInt{
				width: 100%;
				max-width: 320px;
		}
			.corpoInt4, .corpoInt3, .corpoInt1{
				display: none;
			}
			
			.corpoInt2{
				margin-top: 10px;
			}
}
@media only screen and  (max-width: 540px){
		.topo1Int{
			max-width: 320px;

		}
		.topo1IntEsquerdo{
			display:none;
		}
		.topo1IntDireito{
			float: none;
			width: 100%;
			margin: auto;
			text-align: center;
		}
		.topo1IntDireito img{
			float: none;

		}
		.topo2{
			height: 80px;
		}
			.topo2Int{
				max-width: 320px;
			}
				.topo2Logo{
					width: 100%;
					margin: auto;
					float: none;
					height: 80px;
					overflow: hidden;
					margin-bottom: 2px;
				}
					.topo2Logo img{
						margin: auto;
						height: 100px;
					}
			.pesquisaEmenu{
				height: 30px;
				width: 320px;
			}
				.pesquisaInt, .pesquisa{
					display: none;
				}
				.menu{

				}
				.menu ul{
					position: absolute;
					background-color: red;
					z-index:10;
					display: none;


				}
				.menu li{
					float: none;
					background-color: blue;
					height: auto;

				}
				.menu li img{
					display: none;

				}

				.submenu{
					position: static;
					display: block;
				}
				.menumobile{
					display: block;
					margin-left: 10px;
				}

		.corpoInt{
				width: 100%;
				max-width: 320px;
		}
			.corpoInt4, .corpoInt3, .corpoInt1{
				display: none;
			}
			
			.corpoInt2{
				margin-top: 10px;
			}

}
